<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список пользователей</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 album py-5 bg-light">
    <h1>Пользователи</h1>
    <div th:each="el : ${users}" class="alert alert-info mt-2">
        <h3 th:text="${el.name}"></h3>
        <h3 th:text="${el.surname}"></h3>
        <h3 th:text="${el.middlename}"></h3>
        <h3 th:text="${el.role}"></h3>
        <h3><a th:href="'/id/' + ${el.id}">Детальнее</a></h3>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>
